@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    941 Progress Avenue<br />
    Scarborough, CA ########<br />
    <abbr title="Phone">P:</abbr>
    416.289.5000
</address>

<address>
    <strong>Offical Website:</strong> <a href="https://www.centennialcollege.ca/">www.centennialcollege.ca</a><br />
    <strong>About Centennial:</strong> <a href="https://en.wikipedia.org/wiki/Centennial_College">wiki/Centennial_College</a>
</address>
